<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block titulo %}
    <title> Bienvenido Admin: {{user}}</title>
    {% endblock titulo%}
</head>
<body>
    {% block content %}
    {% if user.is_staff %}
     <div class="container">
         <div class="row">
            <h3>Ordenes pendientes</h3>
            {% for orden in ordenes %}
            <div class="card col m12 ">
                <div class="row">
                   
                    <div class="col s3 m2 right" style="margin: 3px;">
                        <a href="{% url 'post-delete' orden.folio %}"><Button class="waves-effect waves-light btn">Eliminar</Button></a>
                    </div>
                    <div class="img col m1">
                        <img class="circle responsive-img " src="{{ orden.autor.profile.image.url }}"  width="60" height="auto">
                    </div>
                    <div class="autor col m11">
                            <a href="#">{{ orden.autor }}</a>
                    </div>
                    <div class="metadata col m12">
                        <small class="text-muted">{{ orden.fecha|date:"F d, Y" }}</small>
                    </div>
                    <div class="col s12 m12">
                        <div>
                            <h2><a href="{% url 'post-detail' orden.folio %}">{{ orden.titulo}}</a></h2>
                        </div>

                        {{ orden.contenido }}
                    </div>
                    <div class="col s12 m12">
                        <img class="responsive-img" src="/media/{{ orden.imagen }}" width="400" height="auto" alt="">
                    </div>
                    
                </div>
                
                
            </div>
            {% endfor %}
            
         </div>
     </div>
    {% else %}
    <h3> Usted no esta autorizado para entrar en esta pagina</h3>
    <META HTTP-EQUIV="REFRESH" CONTENT="3;URL='http://127.0.0.1:8000'">
    {% endif %}
    
    {% endblock content %}
    
</body>
</html>