<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
    

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
    </head>
    <body>
        {% block content %}
        <div class="container ">
            
            <div class="row minh">
                <div class="col s12 m8 form-group">
                    <div class="container">
                        <form method="POST" class="input-field" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="input-field">
                                <legend class="button">Unete Hoy</legend>
                                <h6>{{ form }}</h6>                      
                            </fieldset>
                            <br>
                            <div class="form-group">
                                <button class="btn waves-effect waves-light" type="submit"> Iniciar Sesion</button>
                    
                            </div>
                        </form>
                        <div class="borde">
                            <small class="texto"> 
                            <h5> No poseo una cuenta ): <a href="{% url 'register' %}"> Registrarme </a> </h5>
                            </small>
                        </div>
                    </div> 
                </div>
            </div>  
        </div>
        {% endblock content%}
    </body>
</html>