<!DOCTYPE html>

<html lang="es">
<head>
  {% extends 'base.html' %} 
  {% load static %}
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pignus</title>
  
</head>
</head>
<body>
  {% block content %}
  <div class="container minh">
      <div class="row">
          <div class="logo">
              <div class="col s12 m12">
                  <img class="center responsive-img" style="margin-left: 25%;" src="../static/img/logoreal.png" alt="">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="container">
              <h5> titulo 1</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit harum eligendi similique doloribus deleniti. Voluptate omnis alias mollitia sapiente, voluptates perferendis, cumque nesciunt sunt neque obcaecati vitae dolorum repellat nemo.</p>
              <br>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit harum eligendi similique doloribus deleniti. Voluptate omnis alias mollitia sapiente, voluptates perferendis, cumque nesciunt sunt neque obcaecati vitae dolorum repellat nemo.</p>
                <small>Autor - anio</small>
          </div>
      </div>
  </div>
  {% endblock content %}
</body>
</html>