{% extends 'pignus/base2.html' %}
{% load static %}
<body>
    {% block content %}
    <br>
    <div class="container">
        <br>
            <form method="POST" class="z-depth-2" enctype="multipart/form-data"  style="padding: 10px; margin: 10px;border-radius: 4px;"> 
                {% csrf_token %}
            <fieldset class="form">
                <legend class="button"> Nueva Orden </legend>
            
                {{ form }}
                <br>
            
            </fieldset>
                <br>
            <div class="form-group">
                <button class="btn waves-effect waves-light" type="submit"> Enviar</button>
        
            </div>
        </form>
    </div>
    {% endblock content %}
    
</body>
</html>