<!DOCTYPE html>
<html lang="sp">
<head>
    {% extends 'pignus/base2.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/pignus/static/css/style.css">
    <title>Generar Orden</title>
</head>
<body>
    {% block content %}
    <br>
    <div class="container">
        <br>
            <form method="POST" class="z-depth-2" enctype="multipart/form-data"  style="padding: 10px; margin: 10px;border-radius: 4px;"> 
                {% csrf_token %}
            <fieldset class="form">
                <legend class="button"> Eliminar Orden</legend>
            
                <h2> ¿Estas seguro de borrar la orden N° Folio {{ object.folio}} : {{ object.titulo}}</h2>
                <br>
            
            </fieldset>
                <br>
            <div class="form-group">
                <button class="btn waves-effect waves-light" type="submit"> Eliminar </button>
                <a class="btn waves-effect waves-light" href="{% url 'post-detail' orden.folio %}"> Cancelar </a>
        
            </div>
        </form>
    </div>
    {% endblock content %}
    <script src="/pignus/static/js/materialize.js"></script>
</body>
</html>